<div class="container text-center">
    <h2>DELIVERED ORDERS</h2>
</div>



<div class="form-inline mr-auto">
  <input class="form-control mr-sm-2" type="text" placeholder="Search Order No" aria-label="Search"  [(ngModel)]="listFilter">
  <i class="fas fa-search input-prefix" aria-hidden="true"></i>  
</div>

<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>

        <th class="th-sm">S.No</th>
        <th class="th-sm">Customer Name</th>
        <th class="th-sm">Mobile No.</th>
        <th class="th-sm">Order No.</th>
        <th class="th-sm">Order Date</th>
        <th class="th-sm">Delivery Type</th>
        <th class="th-sm">Total Amount </th>
        <th class="th-sm">Delivered Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of filteredOrders; let i = index">
        <td>{{i+1}}</td>
        <td>{{order.customerName}}</td>
        <td>{{order.phone}}</td>
        <td>{{order.orderId}}</td>
        <td>{{order.orderDate}}</td>
        <td>{{order.deliveryType}}</td>
        <td>{{order.totalAmt}}</td>
        <td>{{order.deliveryDate}}</td>
      </tr>
    </tbody>
</table>

