<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">FRESHSTORE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              CATEGORY
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">FRUITS</a>
              <a class="dropdown-item" href="#">VEGETABLES</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-truck"></i>TRACK ORDER</a>
        </li>
        
        <li class="nav-item">
            
          <a class="nav-link" href="#" tabindex="-1"><i class="fas fa-shopping-cart"></i>CART ITEMS</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>WELCOME GUEST
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal">LOGIN</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#signModal">SIGN UP</a>
            </div>
        </li>
      </ul>
    </div>
  </nav>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-login></app-login>       
    </div>
  </div>
 </div>
  

<div class="modal fade" id="signModal">
  <div class="modal-dialog">
    <div class="modal-content">
    <app-sign-up></app-sign-up>      
    </div>
  </div>
</div>
