<form  novalidate (ngSubmit)="editProduct()" [formGroup]="editProductForm">
    <div class="modal-content">
      <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Edit Product</h4>
          <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body mx-3">
          <div class="md-form mb-5">
              <input type="text" id="productNameId" class="form-control validate"
                placeholder="Product Name"
                formControlName="productName" >
          </div>
  
          <div class="md-form mb-5">
            <input type="text" id="categoryId" class="form-control validate"
              placeholder="Category"
              formControlName="category" >
          </div>
  
  
          <div class="md-form mb-5">
            <input type="number" id="priceId" class="form-control validate"
              placeholder="Our Price"
              formControlName="pricePerKg" >
          </div>
  
          <div class="md-form mb-5">
            <input type="number" id="marketPriceId" class="form-control validate"
              placeholder="Market Price"
              formControlName="marketPrice" >
          </div>
  
          <div class="md-form mb-5">
            <input type="number" id="totalQtyId" class="form-control validate"
              placeholder="Stock"
              formControlName="totalQty" >
          </div>
  
          <div class="md-form mb-5">
            <a class="btn-floating peach-gradient mt-0 float-left">
              <i class="fas fa-paperclip" aria-hidden="true"></i>
              <input type="file">
            </a>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload your file">
            </div>
          </div>
  
      </div>
      <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
          <button class="btn btn-outline-primary btn-block buttonAdd" >Edit Product
              <i class="fas fa-paper-plane-o ml-1"></i>
          </button>
      </div>
    </div>
  
  </form>