<form novalidate (ngSubmit)="onLogin()" [formGroup]="loginForm">  
 <!--Body-->
  <div class="modal-body mb-1">
    <div class="md-form form-sm mb-5">
      <i class="fas fa-envelope prefix"></i>
      <input type="email" id="emailId" class="form-control form-control-sm validate" 
          placeholder="Your email"
          formControlName = "loginId"
          [ngClass]="{'is-invalid': (loginForm.get('loginId').touched || loginForm.get('loginId').dirty) && !loginForm.get('loginId').valid }" 
          >
            <span class="invalid-feedback" *ngIf="loginForm.get('loginId').errors?.required">
              Please enter your email id.
            </span>
    </div>

    <div class="md-form form-sm mb-4">
      <i class="fas fa-lock prefix"></i>
      <input type="password" id="passwordId" class="form-control form-control-sm validate"
      formControlName="password"
      placeholder="Your Password"
      [ngClass]="{'is-invalid': (loginForm.get('password').touched || loginForm.get('password').dirty) && !loginForm.get('password').valid }" >
        
      <span class="invalid-feedback">
        <span *ngIf="loginForm.get('password').errors?.required">
         Please enter your Password.
        </span>
      </span>
    </div>
    <div class="text-center mt-2">
      <button class="btn btn-info"
      [title]="loginForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
      [disabled]="!loginForm.valid" data-dismiss="modal" (click)="onLogin()" >Log in <i class="fas fa-sign-in ml-1"></i></button>
    </div>
  </div>
  <!--Footer-->
  <div class="modal-footer">
    <div class="options text-center text-md-right mt-1">
      <p>Forgot <a  class="blue-text" data-dismiss="modal" [routerLink]="['/forget-password']">Password?</a></p>
    </div>
    <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
  </div>
</form>