


<div *ngIf="loginService.isLogin">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>

<div *ngIf="!loginService.isLogin">
    <app-admin-navbar></app-admin-navbar>
    <div id="layoutSidenav">

        <div id="layoutSidenav_nav" *ngIf="loginService.isShowSideBar">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" [routerLink]="['/admin/admin-dashboard']">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Orders
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" [routerLink]="['/admin/live-orders']">Live Order</a>
                                <a class="nav-link" [routerLink]="['/admin/delivered-orders']">Delivered Order</a>
                                <a class="nav-link" [routerLink]="['/admin/cancelled-orders']">Cancelled Order</a></nav>
                        </div>
      
                        <a class="nav-link" [routerLink]="['/admin/products']">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Products
                        </a>
      
      
      
                        <a class="nav-link" [routerLink]="['/admin/sales-summary']">
                            <div class="sb-nav-link-icon" ><i class="fas fa-chart-area"></i></div>
                            Sales Summary
                        </a>
      
      
      
      
      
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Graphs
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Cards
                        </a>
      
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
      
    <router-outlet width="100%"></router-outlet>
    </div>
    <app-footer></app-footer>
</div>


    
            