<form  novalidate (ngSubmit)="save()" [formGroup]="signupForm">
<!--Body-->
  <div class="modal-body">
    <div class="md-form form-sm mb-3">
      <i class="fas fa-user prefix"></i>
      <input type="email" id="nameId" class="form-control form-control-sm validate"
        placeholder="Your Name"
        formControlName="name" 
        required
        minlength="10"
        [ngClass]="{'is-invalid': (signupForm.get('name').touched || signupForm.get('name').dirty) && !signupForm.get('name').valid }" 
      >
      <span class="invalid-feedback">
        <span *ngIf="signupForm.get('name').errors?.required">
            Please enter your first name.
        </span>
        <span *ngIf="signupForm.get('name').errors?.minlength">
          The first name must be longer than 10 characters.
        </span>
      </span>
    </div>

    
    <div class="md-form form-sm mb-3">
      <i class="fas fa-mobile-alt prefix"></i>
      <input  class="form-control validate" 
        id="phoneNoId"
        type="text"
        placeholder="Phone No"
        required
        maxlength="10"
        formControlName="phoneNo"
        [ngClass]="{'is-invalid': (signupForm.get('phoneNo').touched || signupForm.get('phoneNo').dirty) && !signupForm.get('phoneNo').valid }" />
      <span class="invalid-feedback">
        <span *ngIf="signupForm.get('phoneNo').errors?.required">
          Please enter your phone no.
        </span>
        <span *ngIf="signupForm.get('phoneNo').errors?.maxlength">
          Phone no. is not valid.
        </span>
      </span>
    </div>

    <div class="md-form form-sm mb-3">
      <i class="fas fa-envelope prefix"></i>
      <input class="form-control validate" 
        id="emailId"
        type="email"
        placeholder="Email"
        required
        email
        formControlName="email"
        [ngClass]="{'is-invalid': (signupForm.get('email').touched || signupForm.get('email').dirty) && !signupForm.get('email').valid }" />
      <span class="invalid-feedback">
        <span *ngIf="signupForm.get('email').errors?.required">
          Please enter your email address.
        </span>
        <span *ngIf="signupForm.get('email').errors?.email">
          Please enter a valid email address.
        </span>
      </span>
    </div>

    <div class="md-form form-sm mb-3">
      <i class="fas fa-lock prefix"></i>
      <input type="password" id="passwordId" class="form-control form-control-sm validate"
        formControlName ="password"
        placeholder="Your Password"
        [ngClass]="{'is-invalid': (signupForm.get('password').touched || signupForm.get('password').dirty) && !signupForm.get('password').valid }" >
      <span class="invalid-feedback">
        <span *ngIf="signupForm.get('password').errors?.required">
          Please enter your Password.
        </span>
      </span>  
    </div>

    <div class="md-form form-sm mb-3">
      <i class="fas fa-lock prefix"></i>
      <input type="password" id="confirmPasswordId" class="form-control form-control-sm validate"
        formControlName ="confirmPassword"
        placeholder="Your Password"
        [ngClass]="{'is-invalid': (signupForm.get('confirmPassword').touched || signupForm.get('confirmPassword').dirty) && !signupForm.get('confirmPassword').valid }" >
      <span class="invalid-feedback">
        <span *ngIf="signupForm.get('confirmPassword').errors?.required">
          Confirm your Password.
        </span>
      </span> 
    </div>

    <div class="text-center form-sm mt-2">
      <button class="btn btn-info"
      [title]="signupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
      [disabled]="!signupForm.valid">Sign up <i class="fas fa-sign-in ml-1"></i></button>
    </div>

  </div>
  <!--Footer-->
  <div class="modal-footer">
    <div class="options text-right">
      <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
    </div>
    <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
  </div>
</form>