<form  novalidate (ngSubmit)="addProduct()" [formGroup]="addProductForm">
  <div class="modal-content">
    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Add new form</h4>
        <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body mx-3">
        <div class="md-form mb-5">
            <input type="text" id="productNameId" class="form-control validate"
              placeholder="Product Name"
              formControlName="productName" 
              required
              [ngClass]="{'is-invalid': (addProductForm.get('productName').touched || addProductForm.get('productName').dirty) && !addProductForm.get('productName').valid }" 
            >
            <span class="invalid-feedback">
              <span *ngIf="addProductForm.get('productName').errors?.required">
                Please enter the Product Name.
              </span>
            </span>
        </div>

        <div class="md-form mb-5">
          <input type="text" id="categoryId" class="form-control validate"
            placeholder="Category"
            formControlName="category" 
            required
            [ngClass]="{'is-invalid': (addProductForm.get('category').touched || addProductForm.get('category').dirty) && !addProductForm.get('category').valid }" 
          >
          <span class="invalid-feedback">
            <span *ngIf="addProductForm.get('category').errors?.required">
              Please enter category.
            </span>
          </span>
        </div>


        <div class="md-form mb-5">
          <input type="number" id="priceId" class="form-control validate"
            placeholder="Our Price"
            formControlName="pricePerKg" 
            required
            [ngClass]="{'is-invalid': (addProductForm.get('pricePerKg').touched || addProductForm.get('pricePerKg').dirty) && !addProductForm.get('pricePerKg').valid }" 
          >
          <span class="invalid-feedback">
            <span *ngIf="addProductForm.get('pricePerKg').errors?.required">
              Please enter our price.
            </span>
          </span>
        </div>

        <div class="md-form mb-5">
          <input type="number" id="marketPriceId" class="form-control validate"
            placeholder="Market Price"
            formControlName="marketPrice" 
            required
            [ngClass]="{'is-invalid': (addProductForm.get('marketPrice').touched || addProductForm.get('marketPrice').dirty) && !addProductForm.get('marketPrice').valid }" 
          >
          <span class="invalid-feedback">
            <span *ngIf="addProductForm.get('marketPrice').errors?.required">
              Please enter Market Price.
            </span>
          </span>
        </div>

        <div class="md-form mb-5">
          <input type="number" id="totalQtyId" class="form-control validate"
            placeholder="Stock"
            formControlName="totalQty" 
            required
            [ngClass]="{'is-invalid': (addProductForm.get('totalQty').touched || addProductForm.get('totalQty').dirty) && !addProductForm.get('totalQty').valid }" 
          >
          <span class="invalid-feedback">
            <span *ngIf="addProductForm.get('totalQty').errors?.required">
              Please enter Total Qty.
            </span>
          </span>
        </div>

        <div class="md-form mb-5">
          <a class="btn-floating peach-gradient mt-0 float-left">
            <i class="fas fa-paperclip" aria-hidden="true"></i>
            <input type="file">
          </a>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload your file">
          </div>
        </div>

    </div>
    <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
        <button class="btn btn-outline-primary btn-block buttonAdd" [title]="addProductForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
        [disabled]="!addProductForm.valid">Add Product
            <i class="fas fa-paper-plane-o ml-1"></i>
        </button>
    </div>
  </div>

</form>