<div class="container my-container ">
    <div class="card bg-white px-5">
        <div class="card-header">

        </div>
        <div class="card-body">
            <div class="row ">
                <!-- Left Half -->
                <div class="col-md-5 ">
                    <h3 class="card-title">Select Your Payment Method</h3>
                    <div class="card mt-1 border-0 first-card">
                        <!-- 1st Card -->
                        <!-- Basic dropdown -->
                        <select class="custom-select d-block w-150 mt-2" [ngModel]="paymentMethod" (ngModelChange)="onPaymentMethod($event)" required>
                            <option value="">Payment Method</option>
                            <option value="Cash">Cash On Delivery (COD)</option>
                            <option value="Card">Card Payment</option>
                        </select> 
                                         
                       <!-- Basic dropdown -->
                    </div>


                    <div class="card mt-5 border-0 second-card">
                        <!-- Form -->
                        <div class="card-body">
                            <h4 class="card-title"> Enter Card Details</h4>
                            <div class="row">
                                <div class="col-md-auto col-sm-auto ">
                                    <div class="custom-control custom-radio custom-control-inline "> <input id="customRadioInline11" type="radio" name="customRadioInline11" class="custom-control-input" checked="true"> <label for="customRadioInline11" class="custom-control-label label-radio"><img src="https://img.icons8.com/color/48/000000/visa.png" class="card-image"> </label> </div>
                                </div>
                                <div class="col-md-auto col-sm">
                                    <div class="custom-control custom-radio custom-control-inline "> <input id="customRadioInline22" type="radio" name="customRadioInline11" class="custom-control-input"> <label for="customRadioInline22" class="custom-control-label label-radio"><img src="https://img.icons8.com/officel/48/000000/discover.png" class="card-image"></label> </div>
                                </div>
                            </div> <!-- Payment Form -->
                            <form method="get" action="">
                                <div class="form-group "> <label for="cc-number" class="control-label mt-3">Card number</label> <input id="cc-number" name="cc-number" type="tel" placeholder="xxxx-xxxx-xxxx-xxxx" class="form-control form-control-lg cc-number identified visa " value="" data-val="true" data-val-required="Please enter the card number" data-val-cc-number="Please enter a valid card number" autocomplete="cc-number"> </div>
                                <div class="form-group "> <label for="cc-number" class="control-label mt-3">Card Holder Name</label> <input id="cc-number" name="cc-number" type="text" placeholder="Enter Your Name" class="form-control form-control-lg cc-text identified visa " value="" data-val="true" data-val-required="Please enter Name" data-val-cc-number="Please enter valid name" autocomplete="cc-number"> </div>
                                
                                <div class="form-row">
                                    <div class="form-group col-md-6 col-sm-6"> <label for="cc-exp" class="control-label ">Expiration date</label> <input id="cc-exp" type="tel" class=" form-control form-control-lg cc-exp" autocomplete="cc-exp" placeholder="MM / YY" required> </div>
                                    <div class="form-group col-md-6 col-sm-6"> <label for="cc-cvc" class="control-label ">CVV<span><i class="fa fa-info-circle px-2" aria-hidden="true"></i> </span> </label> <input id="cc-cvc" type="tel" class="form-control-lg form-control cc-cvc " autocomplete="off" placeholder="•••" required> </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-1 d-none d-sm-block"></div> <!-- Right Half -->
                <div class="col-md-6">
                    <div class="card right-card ">
                        <div class="card-header ">
                            
                        </div>

                        <h3 class="font-weight-bold">Discount : {{this.productCartService.discount | currency:'INR':'symbol':'1.0-2' }} </h3>
                        <div class="card mt-3 border-0 first-card"></div>

                        <h3 class="font-weight-bold">Delivery Charges : {{deliveryCharge | currency:'INR':'symbol':'1.0-2' }}</h3>
                        <div class="card mt-3 border-0 first-card"></div>

                        <h3 class="font-weight-bold">Total Amount : {{total | currency:'INR':'symbol':'1.0-2' }}</h3>
                        <div class="card mt-3 border-0 first-card"></div>

                        <div class="card-body">
                            <p class="card-text">Perfect Software Solution is a <span class="text-primary">professional software, website development</span> timely delivered and cost effective software,<span class="text-primary"> website development services</span>. We are highly experienced in offering offshore software development.</p>
                            
                        <div class="card-footer"> <button type="submit" class="btn btn-primary btn-lg" [disabled]="!isPaymentMethodSelected" (click)="onPay()" >PAY</button> </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>                            