.card_img{
    width: 250px;
    height: 200px;
}


.card{

    transition: 0.5s ease;
    cursor: pointer;
    will-change: transform;
}

.card:hover {
    transform: scale(1.09);
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .05);
}

.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #064f8b;
    transition: 0.5s;
    width: 100%;
  }


  .period{
    font-size: 0.7rem;
    color: black;
  }


.amount{
    font-size: 0.9rem;
}

  
    





.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    }
    
    .number-input input[type=number]::-webkit-inner-spin-button,
    .number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    }
    
    .number-input {
    margin-bottom: .7rem;
    }
    
    .number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
    }
    
    .number-input button:before,
    .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
    }
    
    .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
    }
    
    .number-input input[type=number] {
    text-align: center;
    }
    
    .number-input.number-input {
    border: 2px solid #348be2;
    width: 10rem;
    border-radius: .6rem;
    }
    
    .number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
    }
    
    .number-input.number-input button.minus {
    padding-left: 5px;
    }
    
    .number-input.number-input button:before,
    .number-input.number-input button:after {
    width: .7rem;
    background-color: #00060c;
    }
    
    .number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 3px solid #348be2;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #064f8b;
    }
    
    @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {
    
    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
    margin-top: -.3rem;
    }
    }
    }

    #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        top: 30px;
        font-size: 17px;
      }
      
      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }
      
      @-webkit-keyframes fadein {
        from {top: 0; opacity: 0;} 
        to {top: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {top: 0; opacity: 0;}
        to {top: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {top: 30px; opacity: 1;} 
        to {top: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {top: 30px; opacity: 1;}
        to {top: 0; opacity: 0;}
      }