    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="card-box bg-blue">
                                <div class="inner">
                                    <h3> {{totalCustomers}} </h3>
                                    <p></p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <a href="#" class="card-box-footer">Total Customers
                                    <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card-box bg-green">
                                <div class="inner">
                                    <h3> {{totalProducts}} </h3>
                                    <p></p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-product-hunt" aria-hidden="true"></i>
                                </div>
                                <a class="card-box-footer">Total Products
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card-box bg-orange">
                                <div class="inner">
                                    <h3> {{totalOrders}}</h3>
                                    <p></p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                                </div>
                                <a class="card-box-footer">Total Orders
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                                       
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card-box bg-red">
                                <div class="inner">
                                    <h3> {{totalIncome | currency:'INR':'symbol':'1.0-2'}}</h3>
                                    <p> </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-money"></i>
                                </div>
                                <a href="#" class="card-box-footer">Total Income <i
                                        class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="width: 50%;">
                        <div class="card ">
                            <div class="card-header">
                                <i class="fas fa-chart-bar mr-1"></i>Product Sale
                            </div>
                            <div class="card-body" style="height: 450px;">
                                <div  id="chartContainer" style="height: 40; width: 100%;" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 50%; padding-left: 10px;">
                        <div class="card">
                            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Monthly Income</div>
                            <div class="card-body" style="height: 450px;">
                                <div  id="chartContainer2" style="height: 40; width: 100%;" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding-top: 30px;">
                    <div class="card mb-4">
                        <div class="card-header"><i class="fas fa-table mr-1"></i>Products Detail</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Product Name</th>
                                            <th>Category</th>
                                            <th>Our Price</th>
                                            <th>Market Price</th>
                                            <th>Total Stock</th>
                                            <th>Remaining Stock</th>
                                            <th>Image</th>            
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Product Name</th>
                                            <th>Category</th>
                                            <th>Our Price</th>
                                            <th>Market Price</th>
                                            <th>Total Stock</th>
                                            <th>Remaining Stock</th>
                                            <th>Image</th>    
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let product of products; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{product.productName}}</td>
                                            <td>{{product.category}}</td>
                                            <td>{{product.pricePerKg | currency:'INR':'symbol':'1.0-2'}}</td>
                                            <td>{{product.marketPrice | currency:'INR':'symbol':'1.0-2' }}</td>
                                            <td>{{product.totalQty}} Kg</td>
                                            <td>{{product.qtyRemain}} Kg</td>
                                            <td>
                                            <img *ngIf="product.image"
                                                [src]="product.image"
                                                [title]="product.productName"
                                                [style.width.px]="imageWidth"
                                                [style.margin.px]="imageMargin">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
