<div class="container-fluid my-5 d-sm-flex justify-content-center " *ngFor="let order of orders.slice().reverse()">
    <div class="card" >
        <div class="card-body ">
            <div class="row card-text">
              <div class="col-md-12 col-12">
                <div ><strong> Order ID: {{order.orderId}} </strong></div>
                <span>Amount : {{order.totalAmt}} &nbsp; </span>
                <span>| &nbsp; Items : {{order.items}}</span>
                <span style="float: right;">Order Date : {{order.orderDate}}</span>
              </div>
            </div>
            <div><hr></div>
            <div class="row card-text" style="height: 75px;">
              <div class="col-md-8 col-7">
                <span>Order Status : </span>
                <span>{{order.orderStatus}}</span>
                <span> &nbsp; | &nbsp; Date : </span>
                <ng-container *ngIf = "order.orderStatus === 'Placed'">
                  <span>{{order.orderDate}}</span>
                </ng-container>
                <ng-container *ngIf = "order.orderStatus === 'Shipped'">
                  <span>{{order.shipDate}}</span>
                </ng-container>
                <ng-container *ngIf = "order.orderStatus === 'Delivered'">
                  <span>{{order.deliveryDate}}</span>
                </ng-container>
                <ng-container *ngIf = "order.orderStatus === 'Cancelled'">
                  <span>{{order.cancelDate}}</span>
                </ng-container>
              </div>
              <div class="col-md-4 col-5 text-right">
                <button class="btn btn-primary btn-sm" (click)="onViewInvoice(order)"> View Invoice</button>
                <button class="btn btn-primary btn-sm" (click)="onTrack(order.orderId)">Track</button>
              </div>
            </div>
        </div>
    
      
        <div class="card-footer first-footer" (click)="onViewDetails(order)">
          <p>View Order Details</p>  
        </div>
        <div *ngIf="isShowDetails">
          <div class="second-footer" *ngIf="order.orderId===orderId">
            <div class="card-block">
              <div *ngFor="let orderDetail of orderDetails">
                <div *ngIf = "orderDetail.orderId === order.orderId" >
                  <div class="prelative row" >
                    <div class="col-md-2 col-sm-3 col-4">
                      <div style="padding: 10px;">
                        <img  [src]="orderDetail.image"
                              [title]="orderDetail.productName" 
                              class="cart-item-product-thumb"
                              [style.width.px]="imageWidth"
                              [style.margin.px]="imageMargin">
                      </div>
                    </div>
                    <div class="col-md-10 col-sm-9 col-8">
                      <div>Item: {{orderDetail.productName}}</div>
                      <div>
                        <span>Category: {{orderDetail.category}}
                          <span class="separator">|</span>
                        </span>
                        Qty: {{orderDetail.quantity}}
                        <span class="separator">|</span>
                        {{orderDetail.price | currency:'INR':'symbol':'1.0-2' }}
                      </div>

                    </div>
                  </div>
                  <div><hr></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>   
</div>   


  
 