body {
    letter-spacing: 0.8px;
    background: linear-gradient(0deg, #fff, 50%, #74a0ff);
    background-repeat: no-repeat;
    
}

.container-fluid {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
    height: 100;
}

.my-custom-scrollbar {
    position: relative;
    height: 220px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

p {
    font-size: 14px;
    margin-bottom: 7px
}

.cursor-pointer {
    cursor: pointer
}


.table-head{
    width: 100%;
    position: fixed;
}

.card {
    background-color: #fff;
    box-shadow: 2px 4px 15px 0px rgb(0, 108, 170);
    z-index: 0;
    width: 90%;
    height: 400px;
}

small {
    font-size: 12px !important
}

.a {
    justify-content: space-between !important
}

.border-line {
    border-right: 1px solid rgb(226, 206, 226)
}

.card-footer img {
    opacity: 0.3
}

.card-footer h5 {
    font-size: 1.1em;
    color: #8C9EFF;
    cursor: pointer
}

.cart-item-product-thumb{
    
    width: 70px;
    height: 70px;
    border-radius: 100%;
    
  }
  