.container-fluid {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
    height: 100;
}

.my-custom-scrollbar {
    position: relative;
    height: 220px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

p {
    font-size: 14px;
    margin-bottom: 7px
}

.cursor-pointer {
    cursor: pointer
}


.table-head{
    width: 100%;
    position: fixed;
}

.card {
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px;
    width: 80%;
}
.card-header{
    background-color: white;
}

small {
    font-size: 12px !important
}

.a {
    justify-content: space-between !important
}
.first-footer{
    background-color:#efecec;
    height: 30%;
    cursor: pointer;
}

.second-footer{
    background-color:#efecec;
    border-top: 0px;
}

  
